*{
    font-family: 'Do Hyeon', sans-serif;
}
.modal-title {
    width: 500px;
}
.form-content {
    height: 500px;
}
.card-img-top {
    height: 200px;

}
.modal-btn-a {
    padding-bottom: 30px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
.limit-p {
    font-size: 20px;
}
.wrap {
    width: 900px;
    margin: auto;
}
A:link {
    text-decoration: none;
    color: black;
}
A:visited {
    text-decoration: none;
    color: black;
}
.card {
    background-color: #ebf1f5;
}
.content-div {
    display: block;
    width: 250px;
    height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.title-div {
    display: block;
    width: 240px;
    height: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

