<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Webpage Title -->
    <title>Daily 항해</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <meta property="og:title" content="Daily Hangae"/>
    <meta property="og:description" content="항해를 진행하며 하루하루를 기록해보자"/>
    <meta property="og:image" content="{{ url_for('static', filename='ogimg.png') }}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- Font Awesome CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='common_css.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="{{ url_for('static', filename='common_js.js') }}"></script>

    <!-- 구글폰트 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="http://example.com/myicon.png">

    <script type="text/javascript">

        function makeDiary() {

            let title = $("#formGroupExampleInput").val();
            let content = $("#formGroupExampleInput2").val();


            let file = $("#file")[0].files[0];
            let form_data = new FormData();
            console.log(title, content, file);

            form_data.append("file_give", file);
            form_data.append("title_give", title);
            form_data.append("content_give", content);

            $.ajax({
                type: "POST",
                url: '/write_diary',
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(response["msg"])
                    window.location.href = '/diary_list';
                }
            });
        }

        let sel_file;

        $(document).ready(function () {
            $("#file").on("change", handleImgFileSelect);
        });

        function cancel() {
            $("file", "title", "content").empty();
            alert('게시글 작성이 취소되었습니다!');
            window.location.href = '/diary_list';
        }


        function handleImgFileSelect(e) {
            let files = e.target.files;
            let fileArr = Array.prototype.slice.call(files);

            fileArr.forEach(function (f) {
                if (!f.type.match("image.*")) {
                    alert("이미지만 선택 가능합니다.");
                    return;
                }

                sel_file = f;

                let reader = new FileReader();
                reader.onload = function (e) {
                    $("#upload-img").attr("src", e.target.result);
                }
                reader.readAsDataURL(f);
            })
        }


    </script>

    <style>
        * {
            font-family: 'Do Hyeon', sans-serif;
        }

        .content {
            width: 700px;
            display: block;
            margin: 50px 0px 0px 350px;
        }

        .btn {
            position: relative;
            left: 550px;
        }


        .form-group {
            margin: 40px auto;
            display: block;
        }

        .view-img {
            width: 400px;
            height: 400px;
            display: block;
            margin: 100px 0px 0px 520px;
        }

        .upload-img {
            width: 400px;
            height: 400px;
            display: block;
            margin-top: 50px;
            background-image: url("https://image.flaticon.com/icons/png/512/149/149094.png");
            background-size: cover;
            background-position: center;
            border-style: hidden;
        }

    </style>
</head>

<body>
<!-- header -->
</script>
    </head>
    <body>
        <section class="hero is-small is-info">
            <div class="hero-body">
                <a href="/index">
                    <p class="title">
                        <i class="fa fa-compass" aria-hidden="true"></i>
                        Daily<br>
                        Hanghae
                    </p>
                </a>
            </div>
            {% if bool_sign_in %}
            <button class="button is-white is-medium is-rounded logout_btn box_slide_fwd" onclick="$('.modal').addClass('is-active'); sign_out();">
                <i class="fa fa-sign-out" aria-hidden="true"></i>Sign Out
            </button>
            {% endif %}
        </section>
        <section>
            <div class="tabs is-centered is-boxed is-medium">
                <ul>
                    <li>
                        <a href="/daily_meal">
                            <span class="icon is-small"><i class="fa fa-cutlery" aria-hidden="true"></i></span>
                            <span>Daily meal</span>
                        </a>
                    </li>
                    <li>
                        <a href="/diary_list">
                            <span class="icon is-small"><i class="fa fa-book" aria-hidden="true"></i></span>
                            <span>Diary</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="icon is-small"><i class="fa fa-user-secret" aria-hidden="true"></i></span>
                            <span>Blind</span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
<!-- content -->
<div class="view-img" id="imagePreview">
    <img id="upload-img" class="upload-img"/>
</div>
<div class="content">
    <p>사진 업로드</p>
    <div class="custom-file">
        <input type="file" class="custom-file-input" id="file" accept="image/gif, image/jpeg, image/png">
        <label class="custom-file-label" for="customFile" style="color: rgba(42,42,42,0.71);">업로드할 사진을 선택하세요.</label>
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput">제목</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="제목을 입력하세요.">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">내용</label>
        <textarea class="form-control" id="formGroupExampleInput2" cols="50" rows="5"
                  placeholder="내용을 입력하세요."></textarea>
    </div>
    <div>
        <button type="button" class="btn btn-primary" onclick="makeDiary()"> 게시글 작성</button>
        <button type="button" class="btn btn-secondary" onclick="cancel()"> 취소</button>
    </div>
</div>
<!— footer —>
<div class="jumbotron text-center mt-5 mb-0"><h3 class="text-secondary">Daily 항해</h3>
    <p>This Homepage is powered by <span class="text-primary">Team 15</span> / Designed by <span
            class="text-primary">Team 15</span></p>
</div>
</body>
</html>